@model IEnumerable<Tiny_Social_Media.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>PostList</h1>

<div class="container py-4" style="max-width: 600px;">
    @foreach (var post in Model)
    {
        <partial name="_PostDisplay" model="post" />
    }
</div>
